In [ ]:
# To begin with, our analysis, let us import all the required libraries for our Exploratory Data Analysis.

In [6]:
import hashlib
import requests
import datetime
import json
import pandas as pd
from pprint import pprint as pp

timestamp = datetime.datetime.now().strftime('%Y-%m-%d%H:%M:%S')
pub_key = '597364e23017e82a9db9925061ae94c4'
priv_key = '195ac5a00c1d6da4acb6edc3e33377193045fa8b'


def hash_params():
    """ Marvel API requires server side API calls to include
    md5 hash of timestamp + public key + private key """

    hash_md5 = hashlib.md5()
    hash_md5.update(f'{timestamp}{priv_key}{pub_key}'.encode('utf-8'))
    hashed_params = hash_md5.hexdigest()

    return hashed_params

params = {'ts': timestamp, 'apikey': pub_key, 'hash': hash_params(), "limit":100};
res = requests.get('https://gateway.marvel.com:443/v1/public/characters',
                   params=params)

data = res.text

# Each of the above objects returns the appropriate response (JSON) 

jdata = json.loads(data)

# Convert json sata into a table using panda dataframe module

df = pd.DataFrame(jdata["data"]["results"])

# But from here we are only interested in getting the characters name and the number of comics

df['no of comics'] = df[['comics']].applymap(lambda x: x['available'])

df[['name', 'no of comics']]

                          name  no of comics
0                      3-D Man            12
1                 A-Bomb (HAS)             4
2                       A.I.M.            52
3                  Aaron Stack            14
4   Abomination (Emil Blonsky)            54
..                         ...           ...
95                     Bastion            37
96           Batroc the Leaper            30
97               Battering Ram             2
98                  Battlestar             9
99                        Beak            17

[100 rows x 2 columns]